body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.jumbotron{
	background: url(../images/casual_pic3.jpg) no-repeat 50% 0;
	height:350px;
	padding-top: 0;
	padding: 0; 
}

.jumbotron [class*="col-"]{
	padding-top:15px;
	padding-bottom: 15px;
	background-color: #eee;
	border: 1px solid #ddd;
	background-color:rgba(86,61,124,.15);
	border:1px solid rgba(86,61,124,.2);
	overflow: auto;
	height: 350px;
	width:68%;
}

.jumbotron-content{
	color:#ffffff;
}

.jumbotron .col-md-offset-4{
	margin-left: 28.556%;
}

.row [class*="col-"]{
	width:70%;
}

.thumbnail{
	display:inline-block;
}

.thumbnail .caption {
	float: left;
	width: 60%;
}


#project_image{
	height:120px;
}