<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap 101 Template</title>
    <link href="stylesheets/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">

        <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Brand</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
                    <li><a href="/projects">Blog</a></li>
                </ul>

          
                <ul class="nav navbar-nav navbar-right">
                    <form class="navbar-form navbar-left">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-offset-4">
                    <div class="jumbotron-content">
                        <h2>Effective Dreamer</h2>
    	                <p>"Dream as far as the mind can conceive, 
    	                   and make it such that you feet can reach", 
    	                   Mopati Bogatsu
    	                </p>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <h2>Projects</h2>

    <div class="row">
        <div class="col-md-7 col-md-4">
            <div class="thumbnail">
                <img data-src="holder.js/300x200" alt="300x200" style="width: 300px; height: 165px;float:left;padding-right:10px" src="images/the_pcb.jpg" class="img-responsive">
                <div class="caption" style="float:right;">
                    <h3>Line Following Robot</h3>
                    <p>
                        Designed a PCB for a line following robot. the robot used 
                        photo transistors and led's to follow a line. it also paused 
                        for a few minutes every time it came across a magnet under 
                        the ground using hall effect sensors. The robot had the capacity
                        calculate the speed of the wheels again applying phototransistors 
                        to make an encoder.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

</body>
</html>
